@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
} 

html {
    font-size: 62.5%;
}

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 288px 0;
  }
  
  .name {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 18%;
    transform: translateX(-25px);
    opacity: 0;
    animation: fadeTop 1.5s ease forwards;
  }
  
  .navbar {
    animation: 2.75s fadeTop forwards;
    transform: translateX(-25px);
    opacity: 0;
  }
  
  @keyframes fadeTop {
    30% {
    transform: translateX(-25px);
    opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: 18%;
    margin-top: 3%;
    opacity: 1;
  }
  
  .navbar ul li a,
  .navbar ul li.list-item-skills a,
  .navbar ul li.list-item-projects a,
  .navbar ul li.list-item-about a {
    color:rgb(17, 110, 233);
    position: relative;
    font-weight: 600;
    background: linear-gradient(to right, rgb(17, 110, 233),rgb(17, 110, 233) 50%, black 50%);
    border: 3.5px solid rgb(17, 110, 233);
    font-size: 2.8rem;
    padding: 7px 15px;
    background-color: black;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar ul li.list-item-skills a {
    border: 3.5px solid rgb(17, 110, 233);
    border-left: none;
    border-right: none;
  }
  
  .navbar ul li.list-item-projects a {
    border: 3.5px solid rgb(17, 110, 233);
    border-right: none;
  }
  
  .navbar ul li a:hover {
    background-position: 0 100%;
    color: white;
    background-color: rgb(17, 110, 233);
  }
  
  .name span {
    color: rgb(17, 110, 233);
    font-size: 6.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  @media (max-width: 800px) {
    .navbar ul,
    .name {
      margin-left: none;
    }
  }
  
  @media (max-width: 680px) {
    .top {
      padding: 150px 0;
      align-items: center;
    }
  
    .name {
      text-align: center;
      font-size: 4.5rem;
    }
  
    .name span {
      font-size: 4.8rem;
    }
  
    .name,
    .navbar ul {
      margin-left: 0;
    }
  
    .navbar ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 14px;
      margin-top: 70px;
    }

    .navbar ul li a,
    .navbar ul li.list-item-skills a,
    .navbar ul li.list-item-projects a,
    .navbar ul li.list-item-about a {
      text-align: center;
      width: 141px;
      text-decoration: none;
    }

    .navbar ul li.list-item-skills a {
      border: 3.5px solid rgb(17, 110, 233);
      border-top: none;
      border-bottom: none;
      padding-left: 36px;
      padding-right: 38px;
    }
  
    .navbar ul li.list-item-projects a {
      border: 3.5px solid rgb(17, 110, 233);
      border-bottom: none;
      padding-right: 17px;
      padding-left: 15px;
    }

    .navbar ul li.list-item-about a {
      border-right: 3.5px solid rgb(17, 110, 233);
      border-bottom: 4px solid rgb(17, 110, 233);
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31, 33, 37);
    padding: 150px 0;
  }

  .header-skills {
    font-size: 5.2rem;
    color: white;
  }

  @keyframes fadeSkills {
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .container-skills {
    display: flex;
    margin-top: 3%;
    gap: 450px;
    
  }

  .container-languages,
  .container-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .header-languages,
  .header-tools {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
  }

  .container-img-languages,
  .container-img-languages-two,
  .container-img-tools {
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-left: -20px;
  }

  .container-languages .container-img-languages-two {
    gap: 160px;
  }

  .specific-container-languages,
  .specific-container-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-html,
  .img-javascript {
    width: 80px;
    height: 80px;
  }

  .img-css {
    width: 82px;
    height: 82px;
  }

  .img-r {
    width: 160px;
    height: 80px;
  }

  .specific-header-languages,
  .specific-header-languages-HTML,
  .specific-header-languages-CSS,
  .specific-header-languages-R,
  .specific-header-tools {
    font-size: 2rem;
    font-weight: 400;
    color: white;
  }

  .container-img-tools {
    margin-left: 0;
    margin-right: -20px;
  }

  .img-vscode,
  .img-rstudio,
  .img-git,
  .img-netlify {
    width: 81px;
    height: 80px;
  }

  @media (max-width: 1320px) {
    .container-skills {
      display: flex;
      flex-direction: column;
      gap: 130px;
    }

    .container-languages {
      margin-top: 110px;
    }

    .container-img-tools,
    .container-languages .container-img-languages-two {
      margin-left: -40px;
    }
  }

  @media (max-width: 500px) {
    .container-img-languages,
    .container-img-tools {
      gap: 100px;
    }

    .container-languages .container-img-languages-two {
      gap: 50px;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 110, 233);
    padding: 80px 0;
  }

  .header-projects {
    font-size: 5.2rem;
    color: white;
  }

  .container-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
  }

  .information-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-individual-projects {
    font-size: 3rem;
    color: white;
  }

  .para-individual-projects {
    font-size: 2rem;
    color: white;
    width: 500px;
  }

  .container-btn {
    align-self: flex-start;
    margin-top: 20px;
  }

  .btn-source-code,
  .btn-demo {
    color: white;
    position: relative;
    font-weight: 600;
    background: linear-gradient(to right, white, white 50%, rgb(17, 110, 233) 50%);
    border: 2px solid white;
    font-size: 1.8rem;
    padding: 3px 8px;
    background-color: rgb(17, 110, 233);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
    cursor: pointer;
  }

  button .btn-demo {
    border-left: none;
  }

  .btn-source-code:hover,
  .btn-demo:hover {
    background-position: 0 100%;
    color: rgb(17, 110, 233);
    background-color: white;
  }

  .container-projects img {
    width: 900px;
    margin-left: 70px;
    border-radius: 10px;
  }

  @media (max-width: 1600px) {
    .container-projects {
      flex-direction: column-reverse;

    }
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 130px;
  }

  .header-aboutMe {
    font-size: 5.2rem;
    color: white;
  }

  .container-aboutMe {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-top: 90px;
    margin-left: 10%;
  }

  .para-aboutMe,
  .para-aboutMe-two {
    font-size: 2rem;
    color: white;
    width: 700px;
  }

  .para-aboutMe-two {
    margin-top: 20px;
  }

  .aboutMe img {
    height: 470px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 80px 0;
  }

  .header-contact {
    font-size: 5rem;
    color: rgb(17, 110, 233);
  }

  form {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top: 30px;
  }

  form input {
    height: 20px;
    font-weight: 400;
    width: 750px;
    border: 2px rgb(79, 77, 77) solid;
    border-radius: 3px;
    font-size: 1.5rem;
    color: rgb(83, 81, 81);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 15px;
  }

  #message {
    height: 250px;
  }

  #submit {
    color:rgb(17, 110, 233);
    position: relative;
    font-weight: 600;
    background: linear-gradient(to right, rgb(17, 110, 233),rgb(17, 110, 233) 50%, black 50%);
    border: 3.5px solid rgb(17, 110, 233);
    font-size: 2rem;
    padding: 7px 10px;
    background-color: black;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
    cursor: pointer;
    margin-top: 20px;
  }

  form #submit:hover {
    background-position: 0 100%;
    color: white;
    background-color: rgb(17, 110, 233);
  }

  .reveal {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.75s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }